/.vs/
/ApplicationCore/bin/Debug/net8.0
/ApplicationCore/obj
/Infrastructure/bin/Debug/net8.0
/Infrastructure/obj
/Notes/Notes/bin/Debug/net8.0
/Notes/Notes/obj
/Notes/Notes.Client/bin/Debug/net8.0
/Notes/Notes.Client/obj
/ApplicationCore/bin/Release/net8.0
/Infrastructure/bin/Release/net8.0
/Notes/Notes/bin/Release/net8.0
/Notes/Notes/Properties/PublishProfiles
/Notes/Notes.Client/bin/Release/net8.0
/Notes/Notes/.config
/Notes/Notes/logs
