@page "/Category"
@using Radzen
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject ICategoryWebService CategoryService
@inject ILogger<List> Logger

<PageTitle>Category List</PageTitle>

<h1>Category List</h1>

<p>This is the list of categories of the notes.</p>

<p class="esh-link-wrapper">
    <a class="icon-link text-decoration-none" href="Category/Create">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
        </svg>
        New Category
    </a>
</p>

@if (categories is null)
{
    <div class="rz-m-12">
        <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </div>
}
else
{
    <div class="row col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in categories)
                {
                    <tr>
                        <td>@c.Id</td>
                        <td>@c.Title</td>
                        <td>@c.Description</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-primary" @onclick="() => EditCategory(c)">Edit</button>
                            <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => DeleteCategory(c)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
}

@code {
    private List<CategoryModel>? categories;

    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation("Loading all categories");

        categories = await CategoryService.GetAllCategories();

    }

    private void EditCategory(CategoryModel category)
    {
        Navigation.NavigateTo($"Category/Edit/{category.Id}");
    }

    private void DeleteCategory(CategoryModel category)
    {
        Logger.LogInformation("Deleting categories Id: {id}", category.Id);
        CategoryService.DeleteById(category.Id);
    }
}
